video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    }

    .hidden {
        display: none;
      }
      
      img { /* zurück zu start button */
        width: 80vw;
        height: 75vh;
        position: absolute;
        top: 12vh;
        left: 12vw;
        z-index: 2;
        cursor: pointer; 
      }
      
      img:hover {
        transform: scale(1.2); 
      }

      #play-button {
        position: absolute;
        top: 20%;
        left: 25%;
        width: 52vw; 
        height: 56vh;
        z-index: 3;
        cursor: pointer;
}

@media (max-width: 768px) {
  video {
    object-fit: contain; 
  }

  img { /* zurück zu start button*/
    width: 102vw;
    height: auto;
    top: 28vh;
    left: 0vw;
  }

  #play-button {
    width: 100vw;
    height: auto;
    top: 25%;
    left: 0%;
  }
}
