video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    }

    .hidden {
        display: none;
      }
      
      img {
        width: 80vw;
        height: 75vh;
        position: absolute;
        top: 12vh;
        left: 12vw;
        z-index: 2;
        cursor: pointer; /* Zeigt Mauszeiger als Hand */
      }
      
      img:hover {
        transform: scale(1.2); /* Leichtes Vergrößern */
      }

      #play-button {
        position: absolute;
        top: 20%;
        left: 25%;
        width: 52vw; /* Größe anpassen */
        height: 56vh;
        z-index: 3;
        cursor: pointer;
}

@media (max-width: 1080px) {
  video {
    object-fit: contain; /* Verhindert das Abschneiden des Videos */
  }

  img {
    width: 102vw;
    height: auto;
    top: 28vh;
    left: 0vw;
  }

  #play-button {
    width: 100vw;
    height: auto;
    top: 25%;
    left: 0%;
  }
}
