video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    }

    .hidden {
        display: none;
      }
      
      img { /* kapitel 3 button */
        width: 60vw;
        height: auto;
        position: relative;
        top: 41vh;
        left: 20vw;
        z-index: 2;
        cursor: pointer; 
      }
      
      img:hover {
        transform: scale(1.2); 
      }

      #play-button {
        position: absolute;
        top: 20%;
        left: 25%;
        width: 52vw; 
        height: 55vh;
        z-index: 3;
        cursor: pointer;
}


@media (max-width: 768px) {
  video {
    object-fit: contain; 
  }

  img { /* kapitel 3 button */
    width: 40vw;
    height: auto;
    top: 50vh;
    left: 30vw;
  }

  #play-button {
    width: 90vw;
    height: auto;
    top: 30%;
    left: 9%;
  }
}