
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

video { /*hintergrundvideo*/
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
z-index: -1;
}

img { /*kapitel 1 button*/
  width: 30vh;
  height: auto;
  position: absolute;
  bottom: 30%;
  left: 8%;
  z-index: 2;
  cursor: pointer; 
}

img:hover {
  transform: scale(1.2); 
  opacity: 0.9; 
}

.text-overlay { /* text cats in the cradle*/
    position: relative;
    top: 3%;
    left: 3%;
    color: rgb(70, 143, 65);
    font-family: "Just Me Again Down Here", cursive;
    font-size: 15vh;
    text-align: left;
    animation: float-up 3s ease-in-out infinite;
  }
  
  .text-Artist { /*harry chapin*/
    position: relative;
    top: 5%;
    left: 3%;
    color: rgb(243, 195, 21);
    font-family: "Just Me Again Down Here", cursive;
    font-size: 10vh;
    text-align: left;
    animation: float-up 2s ease-in-out infinite; /* Andere Dauer und Richtung */
  }
  
  .floating {
    position: relative;
  }
  
  /* Animation für .text-overlay (Schwebt nach oben) */
  @keyframes float-up {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  
  /* Animation für .text-Artist (Schwebt nach unten) */
  @keyframes float-down {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }


  @media only screen and (max-width: 768px) { /*breakpoint*/
    .text-overlay {
      font-size: 8vh;
      text-align: center;
      left: 0;
      top: 3%;
      z-index: 2;
    }

    .text-Artist {
      font-size: 6vh;
      text-align: center;
      left: 0;
      top: 5%;
      z-index: 1;
    }

    video {
      position: fixed;
      margin-top: 10vh;
      bottom: -2;
      left:0;
      top: initial;
      width: 100vw;
      height: 60vh;
      object-fit: cover;
      z-index: -1;
      }
  
    /* Button */
    img {
      width: 30vh;
      height: auto;
      top: 40%;
      bottom: initial;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }

    img:hover {
        transform: translateX(-50%) scale(1.2);
    }
  }