body {
  overflow: hidden;
}

video { 
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    }

    .hidden {
        display: none;
      }
      
    img.img { /*Kapitel 2 button*/
        width: 60vw;
        height: auto;
        position: absolute;
        top: 41vh;
        left: 20vw;
        z-index: 2;
        cursor: pointer;
      }
      
      
     img:hover {
        transform: scale(1.2); 
      }

#play-button { 
        position: absolute;
        top: 0;
        left: 0%;
        width: 100vw; 
        height: 100vh;
        z-index: 3;
        cursor: pointer;
}

@media (max-width: 768px)  {
  video {
    object-fit: contain; 
  }

  img.img { /* kapitel 2 button */
    width: 80vw;
    height: auto;
    top: 30vh;
    left: 10vw;
  }

  #play-button {
    width: 100vw;
    height: auto;
    top: 35%;
    left: 0;
  }
}