body {
  overflow: hidden;
}

video { 
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    }

    .hidden {
        display: none;
      }
      
  img { /*Kapitel 2 button*/
        width: 50vw;
        height: auto;
        position: relative;
        top: 44vh;
        left: 25vw;
        z-index: 2;
        cursor: pointer;
      }
      
      
     img:hover {
        transform: scale(1.2); 
      }

#play-button { 
        position: absolute;
        top: 0;
        left: 0%;
        width: 100vw; 
        height: 100vh;
        z-index: 3;
        cursor: pointer;
}

@media (max-width: 768px)  {
  video {
    object-fit: contain; 
  }

  img { /* kapitel 2 button */
    width: 40vw;
    height: auto;
    position: relative;
    top: 50vh;
    left: 30vw;
  }

  #play-button {
    width: 100vw;
    height: auto;
    top: 35%;
    left: 0;
  }
}